/*

@media screen and (max-width: 670px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}

@media screen and (max-width: 570px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}*/

@media screen and (max-width: 767px) {
  body {
    background: rgba(255, 255, 255, .4) url(../images/smallBG2.jpg) center repeat;
    /*background-size: cover;*/
  }

  .ci_widget_sponsors a > img {
    max-width: 281px;
  }

  .header {
    height: auto;
  }

  .logo-social {
    height: 100%;
    width: 96%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #navigation {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .columnRevers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }

  .mobileDown {
    display: run-in;
  }

  .wrapper {
    width: 35%;
  }

  .menuToggle {
    width: 30px;
    height: 25px;
    background: url("../images/menu.svg") center no-repeat;
    background-size: contain;
  }

  .nav-search {
    height: 50px;
    width: 55%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .flexS-B {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}