/*

@media screen and (max-width: 670px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}

@media screen and (max-width: 570px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}*/

@media screen and (max-width: 767px) {
  body {
    background: rgba(255, 255, 255, .4) url(../images/smallBG2.jpg) center repeat;
    /*background-size: cover;*/
  }

  #block-for-slider {
    width: 86%;
    margin: 60px auto 40px;
    background: rgba(255, 255, 255, 0.3);
  }

  .ci_widget_sponsors a > img {
    max-width: 281px;
  }

  .header {
    height: auto;
  }

  .logo-social {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  #navigation {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .columnRevers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }

  .mobileDown {
    display: run-in;
  }
}