@media screen and (max-width: 767px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/dark-triangles.png) center repeat;
        /*background-size: cover;*/
    }
    .ci_widget_sponsors a > img {
        max-width: 281px;
    }
    .header {
       height: auto;
    }
    .logo-social {
        height: 100%;
        width: 96%;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    #navigation {
        justify-content: flex-start;
    }
    .columnRevers {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .mobileDown {
        display: run-in;
    }
    .wrapper {
        width: 35%;
    }
    .menuToggle {
        width: 30px;
        height: 25px;
        background: url("../images/menu.svg") center no-repeat;
        background-size: contain;
    }

    .nav-search {
        height: 50px;
        width: 55%;
        display: flex;
        align-items: center;
    }
    .flexS-B {
        flex-direction: row-reverse;
    }

    .mobileHeaderContainer {
        width: 96%;
    }
    .logo {
        text-align: center;
        padding-right: 20%;
    }

    .mobileFlexFD-C, .onePageContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /*.oneGame__wrapper {
        width: 300px;
    }*/
    .oneGame__wrapper {
        margin-bottom: 10px;
    }
    .oneGame__wrapper > h1 {
        margin-bottom: 15px;
        width: 65%;
    }
    .screenshots, .description {
        width: 90%;
        margin: 0 auto;
    }
    .content__img {
        width: 100%;
        margin: 5px auto;
    }
    .content__oneImg {
        width: 100%;
    }

}

@media screen and (max-width: 1350px) and (orientation: landscape) {
    #block-for-slider {
        width: 80%;
        margin: 0 auto 30px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .logo {
        padding-right: 35%;
    }
}

@media screen and (min-width: 1350px) and (orientation: landscape) {
    #block-for-slider {
        width: 60%;
        margin: 0 auto 50px;
    }
}

@media screen and (max-width: 570px) {
    .oneGame__wrapper {
        width: 94%;
    }
}


/*

@media screen and (max-width: 670px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}

@media screen and (max-width: 570px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}*/



