@media screen and (max-width: 767px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/smallBG2.jpg) center repeat;
        /*background-size: cover;*/
    }
    #block-for-slider {
        width: 86%;
        margin: 60px auto 40px;
        background: rgba(255, 255, 255, 0.3);
    }
    .ci_widget_sponsors a > img {
        max-width: 281px;
    }
    .header {
       height: auto;
    }
    .logo-social {
        height: 100%;
        flex-direction: column;
    }
    #navigation {
        justify-content: center;
    }
    .columnRevers {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .mobileDown {
        display: run-in;
    }

}
/*

@media screen and (max-width: 670px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}

@media screen and (max-width: 570px) {
    body {
        background: rgba(255, 255, 255, .4) url(../images/iphone6BG.jpg) no-repeat bottom center;
        background-size: cover;
    }
}*/



